// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "font-awesome";
@import "tempusdominus-bootstrap-4.css";
// Universal
body {
  padding: 0,60px;
  text-align: center;
}
$gray-medium-light: #eaeaea;
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

// event page
main .container {
    padding-top: 130px;
    padding-bottom: 56px;
}
.r_event_content :hover{
  cursor: pointer;
  transform: scale(0.99, 0.99);
  transition-duration: 0.5s;
  text-decoration: none !important;
}
.r_event_content .event_title{
  color: #555;
}
.r_event_content .event_subtitle{
  color: #555;
}

// header

header a {
  color: #555;
}
.HeaderLogo :hover{
  cursor: pointer;
  transform: scale(1.1, 1.1);
  text-decoration: none;
}


/* footer */
footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 30px;
}
// user_page
.btn-primary > a {
  color: #FFF;
}
.btn-primary > a:hover {
  text-decoration: none;
}
.btn-secondary > a {
  color: #FFF;
}
.btn-secondary > a:hover {
  text-decoration: none;
}
.picture-in-userpage > img{
  width: 90vw;
  box-sizing: border-box;
}
.events {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.event_title {
  display: block;
  margin-left: 60px;
  // img {
  //   display: block;
  //   padding: 5px 0;
  // }
}
.timestamp {
  color: $gray-medium-light;
  display: block;
  margin-left: 60px;
}

.event_list_of_user {
  margin-top: 50px;
  h3 {
    margin: 20px;
  }
}
