// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
// Universal
body {
  padding: 0,60px;
  text-align: center;
}

// event page
main {
    padding-top: 72px;
    padding-bottom: 56px;
}
.r_event_content :hover{
  cursor: pointer;
  transform: scale(0.99, 0.99);
  transition-duration: 0.5s;
  text-decoration: none !important;
}
.r_event_content .event_title{
  color: #555;
}
.r_event_content .event_subtitle{
  color: #555;
}

// header

header a {
  color: #555;
}
.HeaderLogo :hover{
  cursor: pointer;
  transform: scale(1.1, 1.1);
  text-decoration: none;
}


/* footer */
footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 30px;
}
